.mainFilter {
    background-color: #fff;
    border: 1px solid #c0c0c0;
    display: flex;
    flex-direction: column;
}

.mainFilter>div {
    padding: 5px 20px;
    margin-bottom: 13px;
}

.filter-title {
    background-color: #2a5ea5;
    padding: 10px;
    color: #fff;
    margin-bottom: 20px;
}

select {

    display: block;
    width: 100%;
    height: 48px;
    border: 1px solid #ddd;
    border-radius: 5px;
}