.cart-wrapper {
    width: 75%;
    margin: 20px auto;
}

.cart-title {
    padding: 5px;
    border-bottom: 1px solid #333;
}

.cart-items {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    -webkit-box-shadow: 0px 0px 16px -8px rgba(0, 0, 0, 0.68);
    box-shadow: 0px 0px 16px -8px rgba(0, 0, 0, 0.68);
    margin: 6px 0;
}

.cart-items img {
    width: 85px;
    margin-right: 10px;
}

.cart-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: 1;
}

.cart-btn {
    display: inline-block;
    border: 0;
    padding: 4px;
    background-color: #2a5ea2;
    color: white;
    cursor: pointer;
    border-radius: 5px;
}

.cart-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 0;
}

.cart-footer .total {
    font-size: 25px;
    color: #2a5ea2;
}

/* modal */
.close-modal {
    cursor: pointer;
    position: absolute;
    top: 1px;
    right: 3px;
    font-size: 17px;
    font-size: bold;
}

.modal-items {
    display: flex;
    flex-direction: column;
}

.modal-items .modaltitle {
    text-align: center;
    text-transform: capitalize;
    color: green;
    font-weight: 800;
}

.modal-items table {
    border: 1px solid #c0c0c0;
}

.modal-items table tr {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3px;
    border-bottom: 1px solid #c0c0c0;
}

.modal-items table tr:last-of-type {
    border-bottom: 0;
}

.modal-items table tr .td-t {
    font-weight: 600;
}

.modal-items table tr .td-r {
    color: #101111;
    margin: 3px 0;
}

.modal-items table tr .td-r .modal-data {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.modal-items table tr .td-r .modal-data .modal-data-desc {
    color: #0a346b;
}